#main-header {
    background: lightsteelblue;
    padding: 40px;
}

ul, li {
    display: flex;
    flex-flow: row nowrap;
}

ul {
    justify-content: flex-end;
}

a {
    background: white;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 0 20px;
}
