<header id="main-header">
    <a [routerLink]="['/']">
        <h1 id="main-logo">
            <span>Message</span><span>board</span>
        </h1>
    </a>
    <nav>
        <ul>
            <li><a class="menu-item" *ngIf="!isLoggedIn"[routerLink]="['/auth/login']">Login</a></li>
            <li><a class="menu-item" *ngIf="!isLoggedIn" [routerLink]="['/auth/register']">Register</a></li>
            <li *ngIf="isLoggedIn">
                <ul>
                    <li>
                        <div>
                            <app-profile-card></app-profile-card>
                        </div>
                    </li>
                    <li>
                        <a class="menu-item solid-btn" [routerLink]="['/start-new-discussion']">+ start new discussion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
