.flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


figure img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

figure {
    margin-right: 20px;
}

.discussion-container {
    padding: 30px;
    background: #f4f4f4;
    margin: 40px;
    border-radius: 5px;
}

.discussion-container h3 {
    margin-bottom: 20px;
}

.discussion-body {
    margin-bottom: 20px;
}

.timestamp {
    margin-right: 20px;
}

.comment::before {
    content: url('http://www.joshuavanmeer.nl/messageboard/img/icons/comment.svg');
    position: relative;
    top: 1px;
    left: -5px;
}

.timestamp::before {
    content: url('http://www.joshuavanmeer.nl/messageboard/img/icons/klok.svg');
    position: relative;
    top: 1px;
    left: -5px;
}


