@import url('https://fonts.googleapis.com/css?family=Dosis:300,400');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

/*-------------------------------------------
    reset
-------------------------------------------*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*-------------------------------------------
    base
-------------------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

body {
    font-family: 'Hind', sans-serif;
}

p,
span
{
    color: #71868b;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

h3 {
    font-size: 30px;
}

.header-m {
    font-size: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.menu-item {
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;
    line-height: 36px;
    margin: 0 20px;
    border: 2px solid white;
    color: white;
}

.solid-btn {
    background: white;
    color: black;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    border: 2px solid lightblue;
    font-weight: 600;
    transition: .2s all;
}

.solid-btn:hover,
.button-l:hover
{
    box-shadow: 0 2px 2px rgba(0,0,0,.7);
}

.username-s,
.annotation-s {
    font-size: .8rem;
    font-weight: 600;
}


.button-l {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    height: 42px;
    border: none;
    background: white;
    color: #34b5df;
    background: #34b5df;
    border-radius: 21px;
    color: white;
    width: 50%;
    margin: 20px auto 0;
    transition: .2s all;
}



/*-------------------------------------------
    forms
------------------------------------------*/

form {
    display: flex;
    flex-flow: column;
}

button {
    cursor: pointer;
}

button:disabled {
    background: lightgrey;
    pointer-events: none;
}

input {
    height: 42px;
    border: 1px solid #d8d8d8;
    border-radius: 20px;
    display: block;
    width: 100%;
    font-size: 1.2rem;
    color: black;
    padding: 0 18px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.1);
    margin-top: 20px;
    font-weight: 400;
}

textarea {
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.1);
    padding: 13px 15px;
}

textarea.comment {
    height: 150px;
    font-size: 1.2rem;
    font-family: 'Hind', sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: #97b2b9;
    font-style: italic;
}


.error-msg {
    color: #e96f6f;
    font-style: italic;
}

/*-------------------------------------------
    meta
------------------------------------------*/

.timestamp {
    margin-right: 20px;
}

.comment::before {
    content: url('http://www.joshuavanmeer.nl/messageboard/img/icons/comment.svg');
    position: relative;
    top: 1px;
    left: -5px;
}

.timestamp::before {
    content: url('http://www.joshuavanmeer.nl/messageboard/img/icons/klok.svg');
    position: relative;
    top: 1px;
    left: -5px;
}

.timestamp-white::before {
    content: url('http://www.joshuavanmeer.nl/messageboard/img/icons/klok_white.svg');
    position: relative;
    top: 1px;
    left: -5px;
}


/*-------------------------------------------
    discussion
-------------------------------------------*/

.discussion-container {
    padding: 30px;
    background: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 20px;
}

.discussion-container h3 {
    margin-bottom: 20px;
}

.discussion-body {
    margin-bottom: 20px;
}


figure img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

figure {
    margin-right: 20px;
}

/*-------------------------------------------
    comments
------------------------------------------*/

.comment-container {
    padding: 30px;
    background: #f4f4f4;
    border-radius: 5px;
    margin: 20px 0;
}

.comment-container p {
    margin-bottom: 15px;
}

.comment-container img {
    width: 25px;
    height: 25px;
}





/*-------------------------------------------
    layout
-------------------------------------------*/


#main-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.column-m {
    max-width: 540px;
    margin: 0 auto;
    padding: 100px 50px 0;
}

.column-m h1 {
    text-align: center;
}

.tabs, .tabs li {
    display: flex;
    flex-flow: row nowrap;
}

.tabs li {
    width: 50%;
}

.tabs a {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    background: #f4f4f4;
}

.tabs li:first-child a {
    border-radius: 20px 0 0;
}

.tabs li:last-child a {
    border-radius: 0 20px 0 0;
}

a.tabs-active {
    color: black;
    background: white;
    border: 2px solid #f4f4f4;
    border-bottom: none;
}


/*-------------------------------------------
    paginator
------------------------------------------*/


.paginator-button {
    padding: 5px;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #f4f4f4;
    border: 1px solid #d3d3d3;
    font-weight: 600;
    transition: .2s all;
}

.paginator-button:hover:not(.pagenumber-active) {
    background: #34b5df;
    color: white;
    border: none;
    transform: scale(1.2);
}



button.pagenumber-active {
    background: #34b5df;
    color: white;
    border: none;
    pointer-events: none;
}

/*-------------------------------------------
    flash message
------------------------------------------*/

.flash-message-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 50px;
}

app-flash-message {
    width: 50%;
}

.flash-message {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

div.error {
    background: red;
}

div.success {
    background: #21ca5d;
}

div.error p,
div.success p {
    color: white;
}



